
.link {
    text-decoration: none;
    color: currentColor;
    &__svg {
        fill: @custom-header;
    }

    &__label { 
        white-space: nowrap;
        font-weight: 800;
    }
    


    &__title {
    line-height: 1.25;
    .font_loaded;
        &._main {
            font-weight: 600;
            font-size: 123%;
        }
        &._news {
            color: #6da2e1;
            font-size: 123%;
        }
        &._widget-blue {
            color: #0054b9;
        }
         
        &._rate {
            font-size: 26px;
            padding-bottom: 5px;
            margin-left: 10px;
        }
        &._indicator {
            font-weight: 550;
            text-transform: uppercase;
            font-size: .93em;
        }
        &._login {
            width: 180px;
            font-size: 1.08em;
            font-weight: 500;
            text-align: center; 
            line-height: 40px;
        }

        &._advertising {
            position: relative;
            left: 40px;
            line-height: 100px;
            text-align: center;
            &._target {
                font-size: 20px;
            }
        }
    }

    &__date {
        color: @custom-header;
    }

    &__temp {
        font-size: 26px;
    }


    &__temp-ahead {
        font-size: 12px;
        margin-top: 5px;
    }

    &__image { 
    display: inline-block;
        &._app {
            width: 44px;
            height: 44px;
            background-size: 44px 44px;
        }
        &._news {
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
        }

        &._logo-yandex {
            margin: 5px;
            width: 30px;
            height: 30px;
            background-size: 30px 30px;
        }
        &._logo {
            float: left;
            margin-right: 5px   ;
            width: 30px;
            height: 26px;
            background-size: 30px 26px;
        }

        &._app-mini {
            width: 15px;
            height: 15px;
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__card {
        display: flex;
    }

    &__row {
        display: flex;
    }

    &-background {
        width: 50%;
        height: 100%;
        float: left;
        background-color: rgb(148, 147, 147);
    }
}
