.notif {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 180px;
  padding: 5px 10px;
}
.notif__panel {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  background: #fff;
  padding: 5px;
}
.notif__panel-link {
  margin-bottom: 8px;
}
.notif__panel-link._login {
  display: flex;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 7px;
}
.notif__covid-histogram {
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 12px 14px;
  background: #fff;
}
