
.app {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.checkbox {
    margin: 60px;
    justify-content: space-around;
    display: flex;
}

.checkbox__input._hidden {
    position: absolute;
    top: 0;
    left: 0;
    background-color: wheat;
    overflow: hidden;
    clip: rect(0 0 0 0);   
}

.checkbox__content::after {
    content: "";
    display: inline-block;
    background-attachment: local;
    vertical-align: middle;
    width: 90px;
    height: 30px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 40px;
    /* -webkit-animation: run 1s infinite linear;
    animation: run 1s infinite linear;   */
}

/* ._normal.checkbox__content::after {
    animation-direction: normal;
}


._reverse.checkbox__content::after {
    animation-direction: reverse;
}

._alternate.checkbox__content::after {
    animation-direction: alternate;
}

._alternate-reverse.checkbox__content::after {
    animation-direction: alternate-reverse;
} */

/* ._linear.checkbox__content::after {
    -webkit-animation: run 1s infinite linear;
    animation: run 1s infinite linear;  
}

._ease.checkbox__content::after {
    -webkit-animation: run 1s infinite ease;
    animation: run 1s infinite ease;
}

._ease-in.checkbox__content::after {
    -webkit-animation: run 1s infinite ease-in;
    animation: run 1s infinite ease-in;
}

._ease-out.checkbox__content::after {
    -webkit-animation: run 1s infinite ease-out;
    animation: run 1s infinite ease-out;
} */


.checkbox__content {
    line-break: auto;
    overflow-wrap: normal;
}

.checkbox__input:checked + .checkbox__content::after  {
    content: url("../../img/Car16Green.svg"); 
    box-sizing: border-box;
}

.checkbox__input:disabled + .checkbox__content::after  {
    opacity: 0.5;
}

.checkbox__input:focus + .checkbox__content::after  {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* @keyframes run {
    0% {
        transform: translate(0%);
    }
    25% {
        transform: translate(150%);
    }
    50% {
        transform: translate(150%, 150%);
    }
    75% {
        transform: translate(0%, 150%);
    }
} */

/* @keyframes run {
    to {
        transform: translate(150%);
    }
    from {
        transform: translate(-180%);
    }
} */
/* 
  @keyframes run {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */