.flex-element__box-task, .flex-element__box-example {
    display: flex;
    width: 500px;
    height: 250px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .flex-element__box-task div {
    margin-left: 2%;
    width: 5%;
    height: 10%;
    background-color: blue;
    z-index: 2;
  }
  
  .flex-element__box-task div:nth-child(2n - 1) {
    position: relative;
    left: 5%;
    bottom: 3%;
    transform: rotate(35deg);
    z-index: 1;
  }

  .flex-element__box-task div:nth-child(3n):after {
    content: "hi";
    color: white;
    display: inline;
  }

  .flex-element__box-example div {
    margin-left: 2%;
    width: 10%;
    height: 8%;
    background-color: rgb(255, 188, 188);
    border-radius: 50%;
    border: 2px solid black;
    z-index: 2;
  }

  .flex-element__box-example div:nth-child(2n - 1) {
    position: relative;
    left: 5%;
    bottom: 3%;
    z-index: 1;
  }

  .flex-element__box-example div:nth-child(3n) {
    background-color: rgb(201, 255, 166);
  }

  .flex-element__box-example div:nth-child(3n):after {
    content: "hi";
    color: rgb(10, 10, 10);
    display: inline;
  }