.admin-option {
    position: absolute;

    top: calc(50% + 230px);
    left: calc(50% - 380px);

    width: 600px;
    border-radius: 20px;

    padding: 10px;
    margin: 20px;

    &__title {
        display: inline-block;

        height: 30px;

        border-bottom: 1px solid @default-theme-secondary;
    }

    &__btn-update {
        position: fixed;

        top: 580px;
        right: calc(50% - 320px);

        width: 40px;
        height: 40px;

        margin: 10px auto;

        text-align: center;
        cursor: pointer;

        fill: @default-theme-primary;

        background-color: @default-theme-secondary;

        border: 1px solid @default-shadow-light-black;;

        background-image: url(../../../icons/update.svg);
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: center;
    }

    &__all-analytic {
        display: flex;

        flex-direction: column;

        text-align: center;
        color: @default-theme-secondary;
        background-color: @default-theme-primary;
        box-shadow: 0 2px 14px @default-grey;
        backdrop-filter: blur(3px);
        border-radius: 20px;

        margin-bottom: 20px;
        padding: 20px;
    }

    &__clear-data-block {
        text-align: center;
        color: @default-theme-secondary;
        background-color: @default-theme-primary;
        box-shadow: 0 2px 14px @default-grey;
        backdrop-filter: blur(3px);
        border-radius: 20px;

        margin-bottom: 20px;
        padding: 20px;
    }

    &__clear-data {
        width: 100px;
        height: 80px;

        padding: 1em 2em;
        margin: 40px;

        cursor: pointer;

        background-color: @default-theme-secondary;
        text-shadow: 0 1px 2px @default-shadow-light-black;

        border: 2px solid @default-grey;
        border-radius: 8px;
    }

    &__risk-analytic {
        text-align: center;
        color: @default-theme-secondary;
        background-color: @default-theme-primary;
        box-shadow: 0 2px 14px @default-grey;
        backdrop-filter: blur(3px);
        border-radius: 20px;

        margin-bottom: 20px;
        padding: 20px;
    }

    &__clear-data {
        text-align: center;
        color: @default-theme-primary;
        box-shadow: 0 2px 14px @default-grey;
        backdrop-filter: blur(3px);
        border-radius: 20px;

        margin-bottom: 20px;
        padding: 20px;
    }

    &__switch-risk {
        text-align: center;
        color: @default-theme-secondary;
        background-color: @default-theme-primary;
        box-shadow: 0 2px 14px @default-grey;
        backdrop-filter: blur(3px);
        border-radius: 20px;

        margin-bottom: 20px;
        padding: 20px;
    }

    &__form-registration {
        text-align: center;
        color: @default-theme-secondary;
        background-color: @default-theme-primary;
        box-shadow: 0 2px 14px @default-grey;
        backdrop-filter: blur(3px);
        border-radius: 20px;

        margin-bottom: 20px;
        padding: 20px;
    }
}