.analytic {
    position: absolute;

    top: calc(50% + 250px);
    left: calc(50% - 380px);

    width: 600px;
    border-radius: 20px;

    padding: 10px;
    margin-bottom: 20px;
    margin: 20px;

    box-shadow: 0 2px 14px @default-grey;
    backdrop-filter: blur(3px);

    color: @default-theme-secondary;
    background-color: @default-theme-primary;

    &__btn-close {
        position: absolute;

        top: 0;
        right: -30px;

        cursor: pointer;

        width: 20px;
        height: 20px;
        border: 0;

        background-image: url("icons/close.svg");
        background-size: 20px;
        background-color: @default-theme-primary;

        &:hover {
            background-color: @default-shadow-white;
            backdrop-filter: blur(3px);
        }
    }
}
