.cardInformation {
    position: relative;

    top: 0;
    right: 0;

    width: 200px;
    height: 100%;

    box-shadow: 0 2px 14px @default-grey;

    color: @default-white;

    background-color: @defualt-blue;
    border-radius: 20px;

    text-align: center;
    &__username {
        display: inline-block;

        margin-top: 10px;

    }
}