.cardInformation {
    position: relative;

    top: 0;
    right: 0;

    width: 200px;
    height: 400px;

    box-shadow: 0 2px 14px @default-grey;

    color: @default-blue;

    padding: 20px;

    background-color: @default-white;
    border-radius: 20px;

    text-align: center;
    &__username {
        display: inline-block;

        margin-top: 10px;

        border-bottom: 1px solid @default-white;
    }

    &__btn-exit {
        position: absolute;

        top: 80%;
        left: 15px;

        width: 80%;
        height: 40px;

        padding: 1em 2em;
        margin: 0 auto;

        cursor: pointer;

        color: @default-blue;
        border: 1px solid @default-blue;

        background: repeating-radial-gradient(circle, @default-shadow-white, @default-shadow-white 10px,
        @default-shadow-blue 10px, @default-shadow-blue 20px);

        border-radius: 8px;
        transition: opacity 10s;
    }
}