.content {
    position: relative;

    display: flex;

    flex-direction: row;

    top: 0;
    left: 0;

    width: 800px;
    height: 400px;

    margin: 100px auto;
    padding: 20px;

    border-radius: 20px;
    box-shadow: 0 2px 14px @default-grey;

    // background-color: @default-white;
}