.content {
    display: flex;
    position: absolute;

    top: calc(50% - 250px);
    left: calc(50% - 410px);

    flex-direction: row;

    width: 800px;
    height: 450px;

    padding: 20px;

    border-radius: 20px;
    box-shadow: 0 2px 14px @default-grey;
}

@media screen and (max-width: 900px) { 
    .content {
        display: flex;
        flex-direction: column-reverse;

        width: 600px;
        height: 460px;

        top: calc(50% - 230px);
        left: calc(50% - 300px);

        padding: 0;

        box-shadow: none;

        margin: auto;
    }

    .office {
        width: 550px;
        height: 380px;

        padding: 10px;
        margin: 0 auto;
    }

    .cardInformation {
        display: flex;

        flex-direction: row;

        width: 530px;
        height: 70px;

        padding: 0 !important;
        margin: 10px auto;
    }
    .cardInformation__form {
        display: flex;

        flex-direction: row;

        padding: 0 !important;
        border-radius: 0;
    }
    .cardInformation__btn-exit, .cardInformation__btn-leave, .informationIll__input-data-ill, .informationIll__btn-data-ill {
        width: 100px !important;
        height: 70px !important;

        color: @default-black !important;

        margin: 0 !important;;
        padding: 0 !important;
        border-radius: 0 !important;
        box-sizing: border-box;

        overflow-wrap: break-word;
    }

    .informationIll__input-data-ill, .informationIll__btn-data-ill {
        background-color: @default-shadow-red !important;

        background-image: url(../../../icons/virus.svg);
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: center;
    }

    .cardInformation__username {
        margin: 30px 10px;
    }

    .informationIll {
        display: flex;
    
        height: 70px;
        flex-direction: row;
        border-top: none !important;
        border-bottom: none !important;
        padding: 0 !important;
    }
}

@media screen and (max-width: 600px) and (max-height: 600px) { 
    #app {
        width: 600px;
        height: 600px;
    }

    body {
        background: none;
    }

    .content {
        width: 600px;
        height: 600px;

        top: 0;
        left: 0;

        margin: 0 auto;
        padding: 0;
        
        box-shadow: none;
    }
}

@media screen and (max-width: 600px) {
    #app {
        width: 600px;
        height: 600px;
        overflow-y: auto;
        overflow-x: auto;
    }

   .form-authentication {
        top: 150px;
        left: 100px;
    } 

    body {
        background: none;
    }

    .content {
        width: 600px;
        height: 600px;

        top: 0;
        left: 0;

        margin: 0 auto;
        padding: 0;
        
        box-shadow: none;
    }
}
