.informationIll {
    border-top: 1px solid @default-blue;
    border-bottom: 1px solid @default-blue;

    padding: 1em 2em;
    &__input-data-ill, &__btn-data-ill {
        width: 100%;
        height: 40px;

        margin: 10px auto;

        text-align: center;
        cursor: pointer;

        color: @default-black;
        border: 1px solid @default-blue;

        background-color: @default-shadow-red !important;

        background-image: url(../../../icons/virus.svg);
        background-repeat: no-repeat;
        background-size: 40px 40px;
        background-position: center;

        border-radius: 8px;
        &:hover {
            background-color: @default-shadow-white;
        }
    }
}