.office {
    display: flex;

    flex-direction: row;
    width: 600px;
    height: 400px;

    padding: 20px;
    margin: 0 10px 0 0;

    border-radius: 20px;
    box-shadow: 0 2px 14px @default-grey;

    align-items: center;


    background-color: @default-white;

    &__column {
        align-items: center;

        width: 300px;
        height: 100%;
    }
}