.workplace {
    position: relative;

    top: -20px;
    left: 5px;

    width: 40px;
    height: 60px;

    cursor: pointer;
    text-decoration: none;

    border: 1px solid @default-grey;
    &:hover {
            
        background-color: @default-grey;

        opacity: 0.6;
    }

    &__text {
        position: relative;

        top: -20px;
        left: 15px;
    }

}