
/*position
======================*/

.position {
    height: 1700px;
}

.sticky {
      position: sticky;
      top: 0;
      width: 100px;
      height: 100px;
      border: 1px solid rgb(165, 9, 165);
  }

.absolute {
    position: absolute;
	top: 30%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 1px solid green;
}

.static {
    position: static;
    width: 100px;
	height: 100px;
	border: 1px solid rgb(13, 14, 13);
}

.relative {
    position: relative;
	top: 200px;
	left: 200px;
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
.usually {
	width: 200px;
	height: 200px;
	border: 1px solid red;
}
