
.section__for-font {
    margin: 20px;
}

.font-family-Times { 
    font-family: "Times New Roman", Georgia, Serif;
}

.font-family-serif {
    font-family: serif;
}

.font-family-sans-serif {
    font-family: sans-serif;
}

.font-family-monospace {
    font-family: monospace;
}

.font-family-cursive {
    font-family: cursive;
}

.font-family-fantasy {
    font-family: fantasy;
}

.font-family-system-ui {
    font-family: system-ui;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-lighter {
    font-weight: lighter;
}

.font-weight-bolder {
    font-weight: bolder;
}

.font-italic { 
    font-style: italic;
}

.font-oblique { 
    font-style: oblique;
}

.font-normal { 
    font-style: normal;
}
