@default-black: rgba(0, 0, 0);
@default-white: rgba(255, 255, 255);
@default-pink: rgb(255, 154, 171);
@default-blue: rgba(33, 150, 243);
@default-grey: rgba(148, 108, 108, 0.18);
@default-dark-grey: rgba(0, 0, 0, 0.644);
@default-red: rgb(255, 0, 0);
@default-shadow-red: rgba(255, 0, 0, 0.534);

@default-shadow-white: rgba(255, 255, 255, .1);
@default-shadow-blue: rgba(33, 150, 243, 0.1);
@default-shadow-grey: rgba(0,0,0,.10);
@default-shadow-light-white: rgba(255, 255, 255, .2);
@default-shadow-light-black: rgba(0, 0, 0, 30%);
@default-shadow-backhround: rgba(255, 255, 255, .5);


@default-theme-primary: hsl(var(--main-hue), 10%, var(--main-effect));
@default-theme-secondary: hsl(0, 10%, var(--main-color));

:root {
    --main-hue : var(--light-hue);
    --main-effect : var(--light-effect);
    --main-color: var(--light-color);
  }






















// :root{
//     --red-hue: 360;
//     --blue-hue: 240;
//     --green-hue: 120;
//     --main-hue : var(--red-hue);
//   }
  
//   * {
//     margin: 0;
//   }
//   html{
//     height: 100%;
//   }

//   nav{
//     background: hsl(var(--main-hue) , 50%, 50%);
//     padding: 1.3rem;
//     color: hsl(var(--main-hue) , 50%, 50%);
//   }
//   .container{
//     flex: 1;
//     background:hsl(var(--main-hue), 50%, 95%);
//     padding: 1rem;
//   }
//   p.content{
//     padding: 0.7rem;
//     font-size: 0.7rem;
//     color: hsl(var(--main-hue), 50%, 50%);
//   }
//   .container h2.title{
//     padding: 1rem;
//     color: hsl(var(--main-hue), 50%, 20%);
//   }
//   footer{
//     background: hsl(var(--main-hue), 93%, 88%);
//     padding: 1rem;
//   }
//   input[type=button] {
//     color:hsl(var(--main-hue), 50%, 20%);
//     padding: 0.3rem;
//     font-size: 1rem;
//   }
//   * {
//     margin: 0;
//   }
//   html{
//     height: 100%;
//   }
//   body{
//     height: 100%;
//     font-family: -apple-system, BlinkMacSystemFont,
//     “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
//     “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
//     sans-serif;
//     display: flex;
//     flex-direction: column;
//   }
//   nav{
//     background: hsl(var(--main-hue), 50%, 50%);
//     padding: 1.3rem;
//     color: hsl(var(--main-hue), 50%, 10%);
//   }
//   .container{
//     flex: 1;
//     background:hsl(var(--main-hue), 50%, 95%);
//     padding: 1rem;
//   }
//   p.content{
//     padding: 0.7rem;
//     font-size: 0.7rem;
//     color: hsl(var(--main-hue), 50%, 50%);
//   }
//   .container h2.title{
//     padding: 1rem;
//     color: hsl(var(--main-hue), 50%, 20%);
//   }
//   footer{
//     background: hsl(var(--main-hue), 93%, 88%);
//     padding: 1rem;
//   }
//   input[type=button] {
//     color:hsl(var(--main-hue), 50%, 20%);
//     padding: 0.3rem;
//     font-size: 1rem;
//   }
  
  