@default-black: rgba(0, 0, 0);
@default-white: rgba(255, 255, 255);
@default-pink: rgb(255, 154, 171);
@defualt-blue: rgba(33, 150, 243);
@default-grey: rgba(0,0,0,.18);

@default-shadow-white: rgba(255, 255, 255, 0.1);
@default-shadow-blue: rgba(33, 150, 243, 0.1);