/*block element
======================*/

.flex-element__div {
    display: flex;
}

.flex-element__div div {
    width: 33.3%;
    margin: 0 5px;
}

.block-element div {
    border: 1px solid black;
}

.block-element > div {
    margin-top: 25px;
}

.example_without_collapse div {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.block-element__first, .block-element__second, .block-element__third {
    margin: 5px 0;
}

.block-element__first {
    background-color: aquamarine;
}

.block-element__second {
    background-color: rgb(10, 199, 136);
}

.block-element__third {
    background-color:rgb(255, 255, 255)
}

.parent { 
    height: 120px;
    background-color: rgb(10, 199, 136);
}

.child {
    height: 20px;
    margin-top: 5px;
    background-color: rgb(2, 2, 2);
}

.child__without-collapse {
    height: 20px;
    background-color: rgb(2, 2, 2);
    border-top: 1px solid transparent;
}
